@namespace: vux;

@theme-color: #04BE02;
@opacity-disabled: 0.5;


/**
* actionsheet
*/
@actionsheet-label-primary-color: #1AAD19;
@actionsheet-label-warn-color: #E64340;
@actionsheet-label-default-color: #000;
@actionsheet-label-disabled-color: #ccc;

/**
* datetime
*/
@datetime-header-item-font-color: @theme-color;
@datetime-header-item-cancel-font-color: @datetime-header-item-font-color;
@datetime-header-item-confirm-font-color: @datetime-header-item-font-color;

/**
* tabbar
*/
@tabbar-text-active-color: #09BB07;

/**
* tab
*/
@tab-text-disabled-color: #ddd;
@tab-text-default-color: #666;
@tab-text-active-color: @theme-color;
@tab-bar-active-color: @theme-color;

/**
* dialog
*/
@dialog-button-text-primary-color: #0BB20C;
@dialog-button-text-default-color: #353535;

/**
* x-number
*/
@number-button-font-color: #3cc51f;
@number-input-font-color: #666;
@number-button-enabled-border-color: #ececec;
@number-square-button-enabled-border-color: @number-button-enabled-border-color;
@number-round-button-enabled-border-color: @number-button-font-color;
@number-button-disabled-border-color: @number-button-enabled-border-color;
@number-round-button-disabled-border-color: @number-button-enabled-border-color;

/**
* checkbox
*/
@checkbox-icon-color-checked: #09BB07;

/**
* check-icon
*/
@check-icon-color-checked: @checkbox-icon-color-checked;

/**
* Cell
*/
@cell-label-color: #000;
@cell-font-size: 17px;
@cell-tips-font-size: 14px;

/**
* Mask
*/
@dialog-mask-background: rgba(0, 0, 0, .6);

/**
* Range
*/
@range-disabled-opacity: @opacity-disabled;
@range-bar-default-color: #a9acb1;
@range-bar-active-color: @theme-color;

/**
* Tabbar
*/
@tabbar-index: 100;

/**
* Header
*/
@header-background-color: #35495e;
@header-title-color: #fff;
@header-text-color: #ccc;
@header-arrow-color: #ccc;

/**
* Timeline
*/
@timeline-item-bg-color: @theme-color;

/**
* Switch
*/
@switch-checked-bg-color: @theme-color;
@switch-checked-border-color: @theme-color;
@switch-disabled-opacity: 0.6;

/**
* Button
*/

@button-global-border-radius: 5px;
@button-global-font-color: #FFFFFF;
@button-global-margin-top: 15px;
@button-global-height: 42px;
@button-global-disabled-font-color: rgba(255,255,255,.6);
@button-global-active-font-color: rgba(255,255,255,.6);
@button-global-font-size: 18px;

@button-warn-bg-color: #E64340;
@button-warn-active-color: #CE3C39;

@button-default-bg-color: #F8F8F8;
@button-default-font-color: #000000;
@button-default-active-bg-color: #DEDEDE;
@button-default-disabled-font-color: rgba(0,0,0,.3);
@button-default-disabled-bg-color: #F7F7F7;
@button-default-active-font-color: rgba(0,0,0,.6);

@button-primary-bg-color: #1AAD19;
@button-primary-active-bg-color: #179B16;

/**
* swipeout
*/
@swipeout-button-primary-bg-color: @button-primary-bg-color;
@swipeout-button-warn-bg-color: @button-warn-bg-color;
@swipeout-button-default-bg-color: #c8c7cd;

@swipeout-content-bg-color: #FFF;
@swipeout-button-font-color: #FFF;

/**
* Cell
*/
@cell-body-label-color: #000;

/**
* Badge
*/
@badge-bg-color: #f74c31;

/**
* Popover
*/
@popover-bg-color: #35495e;
@popover-font-color: #fff;
@popover-border-radius: 3px;
@popover-border-width: 5px;

/**
* Button tab
*/
@button-tab-border-width: 1px;
@button-tab-border-radius: 16px;

@button-tab-border-color: @theme-color;
@button-tab-default-border-color: @button-tab-border-color;
@button-tab-active-border-color: @button-tab-border-color;

@button-tab-default-background-color: #fdfdfd;
@button-tab-active-background-color: @theme-color;

@button-tab-active-font-color: #FFF; /* alias */
@button-tab-active-text-color: @button-tab-active-font-color;
@button-tab-default-text-color: #999;

@button-tab-height: 30px;
@button-tab-line-height: 31px;

/**
* Swiper
*/
@swiper-indicator-active-color: @theme-color;

/**
* checklist
*/
@checklist-icon-active-color: #09BB07;

/**
* popup-picker
*/
@popup-picker-header-text-color: @theme-color;
@popup-picker-header-bg-color: #fbf9fe;
@popup-picker-header-font-size: 16px;
@popup-picker-header-cancel-text-color: #828282;

/**
* popup
*/
@popup-background-color: #eee;

/**
* form-preview
*/
@form-preview-button-primary-color: #0BB20C;

/**
* load-more
*/
@load-more-line-color: #E5E5E5;

/**
* sticky
*/
@sticky-zindex: 500;

/**
* group
*/
@group-title-margin-top: .77em;
@group-title-margin-bottom: .3em;

/**
* toast
*/
@toast-content-font-size: 16px;
@toast-top: 180px;
@toast-position-top-offset: 10px;
@toast-position-bottom-offset: 10px;
@toast-z-index: 5000;


/**
* icon
*/
@icon-success-color: #09BB07;

/**
* calendar
*/
@calendar-arrow-color: @theme-color;
@calendar-highlight-color: #E59313;
@calendar-selected-bg-color: @theme-color;
@calendar-disabled-font-color: #c0c0c0;
@calendar-today-font-color: @theme-color;

/**
* search
*/
@search-cancel-font-color: #09BB07;
@search-bg-color: #EFEFF4;
@search-placeholder-font-color: #9B9B9B;


.setTapColor(@c:rgba(0,0,0,0)) {
    -webkit-tap-highlight-color: @c;
}

._setArrow(@arrowsize, @borderColor, @borderWidth){
    display: inline-block;
    height: @arrowsize;
    width: @arrowsize;
    border-width: @borderWidth @borderWidth 0 0;
    border-color: @borderColor;
    border-style: solid;
}

.setArrow(@direction, @arrowsize, @borderColor, @borderWidth) when (@direction = top) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(0.71,-0.71,0.71,0.71,0,0); // rotate(-45deg)
}

.setArrow(@direction, @arrowsize, @borderColor,@borderWidth) when (@direction = right) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(0.71,0.71,-0.71,0.71,0,0); // rotate(45deg);

    position: relative;
    top: -2px;
}

.setArrow(@direction, @arrowsize, @borderColor,@borderWidth) when (@direction = down) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(-0.71,0.71,-0.71,-0.71,0,0); // rotate(135deg);

    position: relative;
    top: -3px;
}

.setArrow(@direction, @arrowsize, @borderColor,@borderWidth) when (@direction = left) {
    ._setArrow(@arrowsize, @borderColor, @borderWidth);
    transform: matrix(-0.71,-0.71,0.71,-0.71,0,0); // rotate(-135deg);

    position: relative;
    top: -2px;
}

.setChecked(@c:#FFFFFF) {
    display: inline-block;
    content: '';
    width: 4px;
    height: 8px;
    border-bottom: 2px solid @c;
    border-right: 2px solid @c;
    transform: translate(0, 0) rotate(45deg);
}

.setCheckedAbs(@c:#FFFFFF) {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 4px;
    height: 8px;
    border-bottom: 2px solid @c;
    border-right: 2px solid @c;
    transform: translate(-50%, -65%) rotate(45deg);
}

.setTopLine(@c: #C7C7C7) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid @c;
    color: @c;
    transform-origin: 0 0;
    transform: scaleY(0.5);
}

.setBottomLine(@c: #C7C7C7) {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid @c;
    color: @c;
    transform-origin: 0 100%;
    transform: scaleY(0.5);
}

.setLeftLine(@c: #C7C7C7) {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid @c;
    color: @c;
    transform-origin: 0 0;
    transform: scaleX(0.5);
}

.setRightLine(@c: #C7C7C7) {
    content: " ";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-right: 1px solid @c;
    color: @c;
    transform-origin: 100% 0;
    transform: scaleX(0.5);
}

.ellipsis(@w:auto) {
    width: @w;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.ellipsisLn(@line) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: @line;
}
.text_wrap() {
    word-wrap:break-word;
    word-break:break-all;
}
.hyphens() {
    word-wrap:break-word;
    -webkit-hyphens:auto;
    hyphens:auto;
}

// color
@weuiColorPrimary: #1AAD19;
@weuiColorWarn: #E64340;

// link
@weuiLinkColorDefault: #586C94;

// background
@weuiBgColorDefault: #EFEFF4;
@weuiBgColorActive: #ECECEC;

// line
@weuiLineColorLight: #E5E5E5;
@weuiLineColorDark: #BCBAB6;

// text
@weuiTextColorTitle: #000000;
@weuiTextColorTips: #B2B2B2;
@weuiTextColorWarn: @weuiColorWarn;
@weuiTextColorGray: #999999;

@weuiFontEN:-apple-system-font,"Helvetica Neue";
@weuiFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@weuiFontSans:sans-serif;
@weuiFontDefault:@weuiFontEN,@weuiFontSans;

// v1
@weuiBtnHeight:@button-global-height;
@weuiBtnFontSize:@button-global-font-size;
@weuiBtnFontColor:@button-global-font-color;
@weuiBtnActiveFontColor:@button-global-active-font-color;
@weuiBtnDisabledFontColor:@button-global-disabled-font-color;
@weuiBtnBorderRadius:@button-global-border-radius;
@weuiBtnDefaultGap:@button-global-margin-top;

@weuiBtnMiniFontSize:13px;
@weuiBtnMiniHeight:2.3;

@weuiBtnDefaultFontColor:@button-default-font-color;
@weuiBtnDefaultActiveFontColor:rgba(0,0,0,.6);
@weuiBtnDefaultActiveFontColor:@button-default-active-font-color;
@weuiBtnDefaultDisabledFontColor:@button-default-disabled-font-color;

@weuiBtnDefaultBg:@button-default-bg-color;
@weuiBtnDefaultActiveBg:@button-default-active-bg-color;
@weuiBtnDefaultDisabledBg:@button-default-disabled-bg-color;

@weuiBtnPrimaryBg:@button-primary-bg-color;
@weuiBtnPrimaryActiveBg:@button-primary-active-bg-color;
@weuiBtnPrimaryDisabledBg:#9ED99D;

@weuiBtnWarnBg:@button-warn-bg-color;
@weuiBtnWarnActiveBg:@button-warn-active-color;
@weuiBtnwarnDisabledBg:#EC8B89;

@weuiBtnPlainPrimaryColor:rgba(26,173,25,1);
@weuiBtnPlainPrimaryBorderColor:rgba(26,173,25,1);
@weuiBtnPlainPrimaryActiveColor:rgba(26,173,25,.6);
@weuiBtnPlainPrimaryActiveBorderColor:rgba(26,173,25,.6);

@weuiBtnPlainDefaultColor:rgba(53,53,53,1);
@weuiBtnPlainDefaultBorderColor:rgba(53,53,53,1);
@weuiBtnPlainDefaultActiveColor:rgba(53,53,53,.6);
@weuiBtnPlainDefaultActiveBorderColor:rgba(53,53,53,.6);
@weuiGridBorderColor:#D9D9D9;
@weuiGridFontSize: 14px;
@weuiGridIconSize: 28px;
@weuiGridColumnCount: 3;

@weuiMsgPaddingTop:36px;
@weuiMsgIconGap:30px;
@weuiMsgTitleGap:5px;
@weuiMsgTextGap:25px;
@weuiMsgOprGap:25px;
@weuiMsgExtraAreaGap:15px;
@weuiMsgExtraAreaOfMinHeight:438px;

@weuiProgressBg: #EBEBEB;
@weuiProgressColor: #09BB07;
@weuiProgressHeight: 3px;
@weuiProgressCloseBg: #EF4F4F;
@weuiProgressActiveBg: #C13E3E;
@weuiCellBg:#FFFFFF;
@weuiCellBorderColor:#D9D9D9;
@weuiCellGapV:10px;
@weuiCellGapH:15px;
@weuiCellInnerGapH:.35em;
@weuiCellHeight: 44px;
@weuiCellFontSize:@cell-font-size;
@weuiCellTipsFontSize:@cell-tips-font-size;
@weuiCellLabelWidth:105px;

@weuiCellLineHeight: unit((@weuiCellHeight - 2 * @weuiCellGapV) / @weuiCellFontSize); // 高度为44px，减去上下padding的行高
@weuiCellsMarginTop:unit(20 / @weuiCellFontSize, em);

// weui switch
@weuiSwitchHeight: 32px;

// weui uploader
@weuiUploaderBorderColor:#D9D9D9;
@weuiUploaderActiveBorderColor:#999999;
@weuiUploaderFileSpacing: 9px;
@weuiUploaderSize: 79px;
@weuiUploaderBorderWidth: 1px;

@weuiDialogBackgroundColor: #FFFFFF;
@weuiDialogLineColor: #D5D5D6;
@weuiDialogLinkColor: #3CC51F;
@weuiDialogLinkActiveBc: #EEEEEE;
@weuiDialogGapWidth: 1.6em;
